<div class="classynav">
    <ul>
        <li><a href="@Url.Action("Index","Home",routeValues:new {area="admin" })">Admin</a></li>
        <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="@Url.Action("AcrchiveList","Home")">Archives</a></li>
        <li>
            <a href="#">Pages</a>
            <ul class="dropdown">
                <li><a href="@Url.Action("Index1","Home")">- Home</a></li>
                <li><a href="@Url.Action("AcrchiveList1","Home")">- Archive List</a></li>
                <li><a href="@Url.Action("AcrchiveGrid","Home")">- Archive Grid</a></li>
                <li><a href="@Url.Action("SinglePost","Home")">- Single Post</a></li>
                <li><a href="@Url.Action("VideoPost","Home")">- Single Video Post</a></li>
                <li><a href="@Url.Action("Contact1","Home")">- Contact</a></li>
                <li><a href="@Url.Action("Typography","Home")">- Typography</a></li>
                <li><a href="login.html">- Login</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Features</a>
            <div class="megamenu">
                <ul class="single-mega cn-col-4">
                    <li><a href="@Url.Action("Index1","Home")">- Home</a></li>
                    <li><a href="@Url.Action("AcrchiveList1","Home")">- Archive List</a></li>
                    <li><a href="@Url.Action("AcrchiveGrid","Home")">- Archive Grid</a></li>
                    <li><a href="@Url.Action("SinglePost","Home")">- Single Post</a></li>
                    <li><a href="@Url.Action("VideoPost","Home")">- Single Video Post</a></li>
                    <li><a href="@Url.Action("Contact1","Home")">- Contact</a></li>
                    <li><a href="@Url.Action("Typography","Home")">- Typography</a></li>
                    <li><a href="login.html">- Login</a></li>
                </ul>
                <ul class="single-mega cn-col-4">
                    <li><a href="@Url.Action("Index1","Home")">- Home</a></li>
                    <li><a href="@Url.Action("AcrchiveList1","Home")">- Archive List</a></li>
                    <li><a href="@Url.Action("AcrchiveGrid","Home")">- Archive Grid</a></li>
                    <li><a href="@Url.Action("SinglePost","Home")">- Single Post</a></li>
                    <li><a href="@Url.Action("VideoPost","Home")">- Single Video Post</a></li>
                    <li><a href="@Url.Action("Contact1","Home")">- Contact</a></li>
                    <li><a href="@Url.Action("Typography","Home")">- Typography</a></li>
                    <li><a href="login.html">- Login</a></li>
                </ul>
                <ul class="single-mega cn-col-4">
                    <li><a href="@Url.Action("Index1","Home")">- Home</a></li>
                    <li><a href="@Url.Action("AcrchiveList1","Home")">- Archive List</a></li>
                    <li><a href="@Url.Action("AcrchiveGrid","Home")">- Archive Grid</a></li>
                    <li><a href="@Url.Action("SinglePost","Home")">- Single Post</a></li>
                    <li><a href="@Url.Action("VideoPost","Home")">- Single Video Post</a></li>
                    <li><a href="@Url.Action("Contact1","Home")">- Contact</a></li>
                    <li><a href="@Url.Action("Typography","Home")">- Typography</a></li>
                    <li><a href="login.html">- Login</a></li>
                </ul>
                <ul class="single-mega cn-col-4">
                    <li><a href="@Url.Action("Index1","Home")">- Home</a></li>
                    <li><a href="@Url.Action("AcrchiveList1","Home")">- Archive List</a></li>
                    <li><a href="@Url.Action("AcrchiveGrid","Home")">- Archive Grid</a></li>
                    <li><a href="@Url.Action("SinglePost","Home")">- Single Post</a></li>
                    <li><a href="@Url.Action("VideoPost","Home")">- Single Video Post</a></li>
                    <li><a href="@Url.Action("Contact1","Home")">- Contact</a></li>
                    <li><a href="@Url.Action("Typography","Home")">- Typography</a></li>
                    <li><a href="login.html">- Login</a></li>
                </ul>
            </div>
        </li>
        <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
    </ul>
</div>
